---
import Base from "../../layouts/Base.astro"
const pageTitle = 'Starting Small | Jack Eden';
---
<Base pageTitle={pageTitle}>
  
  <h1><a href="/">Jack Eden</a></h1>
  <article>


<h2>Starting Small</h2>
<p>Starting something new is easy for me, more difficult is sharing my work for others to see (and potentially judge), and even harder still is keeping up a long-term goal.</p>

<p>Like an increasing number of people in my social circle I've begun to suspect that part of my struggles stems from undiagnosed neurodivergence. I have some experience with thinking differently, as a child I was diagnosed with dyslexia and the extra assistance and tricks I learned for managing that have carried me pretty far into adulthood. What those tricks don't do is help me with executive dysfunction -- procrastination.</p>

<p>Procrastination is a horrible thing. A leech on my time with no redeeming features.</p>

<p>When I procrastinate it comes with guilt that prevents me from doing anything else worthwhile with the time. You'd think that if I'm procrastinating on a project I could do so by focusing on another (less intimidating) project or even a hobby that I enjoy but no, the guilt means only the lowest-effort activities get done. At best I'm cleaning my house, at worst I'm watching YouTube videos. In either case, I'm not able to relax and enjoy the time because at the back of my mind is the intrusive thought that this isn't what I should be doing.</p>

<p>If time you enjoy wasting isn't wasted then procrastinating must be one of the only ways to actually waste your life. My most productive hours end up being early in the morning as a panicked alternative to sleep.</p> 

<p>How does the concept of neurodivergence help me? Well, I suspect I have ADHD but even if I don't I think if you want to improve at something then you should look for inspiration from people who need tangible results in that area. Some of the best advice you'll ever get for designing space comes from wheelchair users, the best reviews for headphones from working musicians [1], the best tips on organisation from librarians and programmers. Whether I have ADHD or not I need to improve in areas that are traditionally challenging for people with ADHD and I've found that techniques they recommend are helpful.</p>

<p>The technique I'm currently employing for this post, and this entire website, is half-arsing the work.</p>

<p>Half-arsing something gets a bad wrap. Everyone can tell the difference between work that hasn't been done and a finished project but not everyone can tell the difference between a half-arsed project and one you gave your all to. If the choice is between nothing and something, I am starting to choose something where previously I would've done nothing and hated myself. The intended secondary benefit to this is it's much easier to improve something kinda crummy than to deliver perfection on the first go. The hope is that by starting small and taking baby steps, with permission for those steps to be as small as they need to be, I won't feel the need to procrastinate as much.</p>

<p>As of today, Saturday 14th October 2023, this website is nothing more than plain HTML across two pages. The one conceit I've made to anything more complicated than that is using a tool called <a href="https://astro.build/">Astro</a> to 'build' the site. Right now this is complete overkill, but I intend to use Astro for other more complicated projects and I hope that this project will one day grow to benefit from it too.</p>

<p>I don't know exactly what I'm doing here, but embracing a small start has gotten me moving on the risky business of making things again.</p>
        
<p>[1]: Which is not to say you should blindly follow the advice you find; a working musician's needs are vastly different from my own, but their opinionated advice is deeply insightful.</p>

  </article>

</Base>
