// Testing styles - Mobile first development
#mobileFirst {
    position: relative;
}
#mobileFirst::before {
    content: "";
    display: block;
    aspect-ratio: 9/16;
    max-width: 100vw;
    max-height: 100vh;
}  
#mobileFirst > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}  
